* {
    font-family: "Inter", sans-serif !important;
}

button:active {
    transform: scale(0.95);
    transition-property: 'transform, box-shadow';
    transition-duration: .2s;
}

input,
textarea {
    border-radius: 8px !important;
    font-size: 14px !important;
    outline: none !important;
}

input::placeholder,
textarea::placeholder {
    color: #96969691;
}

input:focus,
input:focus-visible,
input.filled:focus,
input.filled:focus-visible,
select:focus,
textarea:focus,
textarea:focus-visible,
textarea.filled:focus,
textarea.filled:focus-visible {
    transition: 200ms !important;
    border-color: #38B2AC !important;
    box-shadow: 0 0 0 2px var(--p500) !important;
}

@keyframes fadeText {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}


.scrollX::-webkit-scrollbar {
    height: 4px;
}

.scrollX::-webkit-scrollbar-track {
    background: #F8F9FA20;
}

.scrollX::-webkit-scrollbar-thumb {
    background: RGBA(0, 0, 0, 0.64);
    border-radius: 100px;
}

.scrollY::-webkit-scrollbar {
    width: 8px;
}

.scrollY::-webkit-scrollbar-track {
    background: #F8F9FA20;
}

.scrollY::-webkit-scrollbar-thumb {
    background: RGBA(0, 0, 0, 0.64);
    border-radius: 100px;
}